      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
       :root {
          --cor-primaria: #5CBFD7;
          --cor-secundaria: #5c81d7;
          --cor-azul-escuro: #13293D;
          --cor-azul-safira: #006494;
          --cor-azul-medio: #247BA0;
          --cor-azul-claro: #1B98E0;
          --cor-azure-branco: #E8f1f2;
      }
      
      *,
      *::before,
      *::after {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          scroll-behavior: smooth;
      }
      #date{
          color: white;
          font-size: 20px;
          text-align: left;
      }
    
      html {
          font-family: 'Poppins', sans-serif;
          font-size: 10px;
      }
      
      .header-nav-bar {
          width: 100%;
          position: fixed;
          top: 0;
          left: 0;
          transition: background-color .5s ease;
          z-index: 10;
      }
      
      .container {
          width: 100%;
          margin: 0 auto;
          padding: 0 1.5rem;
      }
      
      .nav {
          width: 100%;
          height: 10rem;
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-bottom: 2px solid rgba(255, 255, 255, .05);
          transition: height .5s ease;
      }
      
      .nav a {
          text-decoration: none;
          color: var(--cor-azure-branco);
          font-size: 1.6rem;
      }
      
      .nav .logo1 img {
          height: 5vh;
      }
      
      .nav-list {
          list-style: none;
          display: flex;
      }
      
      .nav-link {
          margin: 0 2rem;
          position: relative;
      }
      
      .nav-link::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: var(--cor-azul-medio);
          position: absolute;
          top: 23px;
          left: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform .5s ease;
      }
      
      .nav-link:hover::after {
          transform: scaleX(1);
      }
      
      #nav-cta {
          display: inline-block;
          background-color: var(--cor-azure-branco);
          color: black;
          padding: 1rem 1rem;
          border-radius: 2em;
          transition: background-color .5s ease;
      }
      
      #nav-cta:hover {
          background-color: var(--cor-azure-branco);
      }
      /*Aplica estilos scroll*/
      
      .scrolling-active {
          background: var(--cor-azure-branco);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
      }
      
      .scrolling-active .nav {
          height: 6.6rem;
      }
      
      .scrolling-active .nav a {
          color: black;
      }
      
      .scrolling-active #nav-cta {
          background-color: black;
          color: var(--cor-azure-branco);
      }
      
      .scrolling-active #nav-cta:hover {
          background-color: black;
      }
      
      .scrolling-active .nav-link::after {
          background-color: var(--cor-azul-safira);
      }
      /*Fim da aplicação de estilos scroll*/
      /* conteúdo Hero (por convenção, "hero" se tornou uma parte da página que se deseja chamar atenção) */
      
      .hero {
          width: 100%;
          min-height: fit-content;
          background: center no-repeat;
          background-size: cover;
          position: relative;
          z-index: -1;
      }
      
      .hero::after {
          content: '';
          width: inherit;
          height: inherit;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .5);
      }
      
      .container-titulos {
          position: absolute;
          display: flex;
          height: 99vh;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          left: 15%;
      }
      
      .h1-hero {
          font-size: 8rem;
          font-weight: 700;
      }
      
      .h1-hero,
      .h2-hero {
          color: var(--cor-azure-branco);
      }
      
      .h2-hero {
          color: var(--cor-azure-branco);
          font-size: 5rem;
      }
      /* Fim do Hero */
      /* Botão de pesquisa */
      
      .search-box {
          width: fit-content;
          height: fit-content;
          position: relative;
      }
      
      .input-search {
          height: 50px;
          width: 50px;
          border-style: none;
          padding: 10px;
          letter-spacing: 2px;
          outline: none;
          border-radius: 25px;
          transition: all .5s ease-in-out;
          background-color: var(--cor-azul-medio);
          padding-right: 40px;
          color: rgb(0, 0, 0);
      }
      
      .input-search::placeholder {
          color: var(--cor-azure-branco);
          letter-spacing: 2px;
          font-weight: 100;
      }
      
      .btn-search {
          width: 50px;
          height: 50px;
          border-style: none;
          font-size: 20px;
          font-weight: bold;
          outline: none;
          cursor: pointer;
          border-radius: 50%;
          position: absolute;
          right: 0px;
          color: var(--cor-azure-branco);
          background-color: transparent;
          pointer-events: painted;
      }
      
      .btn-search:focus~.input-search {
          width: 210px;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid var(--cor-primaria);
          transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      
      .input-search:focus {
          width: 200px;
          border-radius: 0px;
          background-color: transparent;
          border-bottom: 1px solid var(--cor-primaria);
          transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      /* Fim do botão de pesquisa */